@import "../../../../root";

.modal-heading {
  padding: 9px 20px 12px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8e8e8e;
  color: #fff;

  h3 {
    @extend .font-bold;
  }
}

.close {
  width: 22px;
  height: 22px;
}
