@import "../../../../root";

.modal-heading {
  padding: 9px 20px 12px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8e8e8e;
  color: #fff;

  @media screen and (max-width: 480px) {
    border-radius: 12px;
    color: #333333;
    background-color: #fff;
    padding-top: 24px;

    h3 {
      width: 95%;
    }
  }
}

.close {
  width: 22px;
  height: 22px;
  cursor: pointer;

  @media screen and (max-width: 480px) {
    width: 18px;
    height: 18px;
  }
}
