@import "../../root";

.modal {
  max-width: 400px;
  background-color: white;
  margin: 20px auto;

  @media screen and (max-width: 480px) {
    margin-top: 200px;
    border-radius: 12px;
    text-align: center;
  }
}
